### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)

In [3]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [12]:
playercount= df["SN"].nunique()

## Player Count

* Display the total number of players

In [11]:
playercount_df=pd.DataFrame({"Total Players":playercount}, index=[0])
playercount_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
UniqueItems = df["Item ID"].nunique()
UniqueItems

179

In [28]:
AvgPrice = df["Price"].mean()

In [30]:
Number_of_Purchases=df["Price"].count()

In [31]:
Total_Rev=df["Price"].sum()
Total_Rev

2379.77

In [39]:
Purchasing_Analysis_df = pd.DataFrame({"Number of Unique Items": UniqueItems ,"Average Price":AvgPrice ,"Number of Purchases": Number_of_Purchases ,'Total Revenue':Total_Rev},index = [0])
Purchasing_Analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

In [56]:
gender_grouped = df.groupby(["Gender"])

In [48]:
totalcount= df["Gender"].count()
totalcount

780

In [59]:
gender_count = gender_grouped["Gender"].count()
gender_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [53]:
gender_per = gender_count/totalcount

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [51]:
Gender_Demographics_df = pd.DataFrame({"Total Count":gender_count,'Percentage of Players':gender_per })
Gender_Demographics_df

                       Total Count  Percentage of Players
Gender
Female                         113               0.144872
Male                           652               0.835897
Other / Non-Disclosed           15               0.019231

In [69]:
PurchaseCount = gender_grouped["Purchase ID"].count()

In [64]:
AveragePurchasePrice = gender_grouped["Price"].mean()

In [65]:
TotalPurchaseValue = gender_grouped["Price"].sum()

In [67]:
unquie_mf = gender_grouped["SN"].nunique()

In [68]:
AvgTotalPurchaseperPerson = TotalPurchaseValue / unquie_mf

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [73]:
Gender_Demographics_Purchase_df = pd.DataFrame({'Purchase Count': PurchaseCount,'Average Purchase Price': AveragePurchasePrice, 'Total Purchase Value':TotalPurchaseValue,'Avg Total Purchase per Person': AvgTotalPurchaseperPerson})
Gender_Demographics_Purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [74]:
Bins =(0,9,14,19,24,29,34,39,1000)
Bin_Labels = ("<10","10-14","15-19","20-24","25-29","30-34","35-39","40+")

In [76]:
df["Age Range"] = pd.cut(df["Age"], Bins, labels=Bin_Labels, include_lowest=True)
df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [77]:
Age_ranged_grouped = df.groupby(["Age Range"])

In [79]:
Age_Total_Count = Age_ranged_grouped["SN"].nunique()
Age_Total_Count

Age Range
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [139]:
Percentage_of_Players =  Age_ranged_grouped["SN"].nunique()/df["SN"].nunique()

In [82]:
Age_df=pd.DataFrame({"Total Count":Age_Total_Count,'Percentage of Players' :Percentage_of_Players})
Age_df

           Total Count  Percentage of Players
Age Range
<10                 17               0.029514
10-14               22               0.038194
15-19              107               0.185764
20-24              258               0.447917
25-29               77               0.133681
30-34               52               0.090278
35-39               31               0.053819
40+                 12               0.020833

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [88]:
# Purchase Count
Age_Purchase_Count = Age_ranged_grouped['SN'].count()

In [91]:
# Average Purchase Price
ASP = Age_ranged_grouped['Price'].mean()

In [95]:
# Total Purchase Value
Rev = Age_ranged_grouped['Price'].sum()

In [99]:
# Unique_person
Unique_person_count = Age_ranged_grouped['SN'].nunique()

In [138]:
# Avg Total Purchase per Person
Avg_per_person= Rev/Unique_person_count

In [104]:
Age_Purcahse_df = pd.DataFrame({"Purchase Count":Age_Purchase_Count,"Average Purchase Price":ASP ,"Total Purchase Value":Rev,"Avg Total Purchase per Person":Avg_per_person})
Age_Purcahse_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

In [106]:
SN_grouped = df.groupby(["SN"])

In [108]:
#Purchase Count
SN_purchase_count = SN_grouped["Purchase ID"].count()

In [110]:
#Average Purchase Price
SN_ASP = SN_grouped["Price"].mean()

In [113]:
#Total Purchase Value
SN_Rev = SN_grouped["Price"].sum()

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [136]:
Purchase_df = pd.DataFrame({"Purchase Count":SN_purchase_count,"Average Purchase Price":SN_ASP,"Total Purchase Value":SN_Rev})

In [137]:
Purchase_df = Purchase_df.sort_values(["Purchase Count"],ascending=False)
Purchase_df

              Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                  5                3.792000                 18.96
Iral74                     4                3.405000                 13.62
Idastidru52                4                3.862500                 15.45
Asur53                     3                2.480000                  7.44
Inguron55                  3                3.703333                 11.11
...                      ...                     ...                   ...
Hala31                     1                1.020000                  1.02
Haisurra41                 1                4.400000                  4.40
Hailaphos89                1                3.810000                  3.81
Haestyphos66               1                1.970000                  1.97
Iskosian40                 1                3.070000                  3.07

[576 rows x 3 columns]

In [125]:
TopSpenders = Purchase_df.sort_values(["Total Purchase Value"],ascending=False)
TopSpenders

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10
...                     ...                     ...                   ...
Ililsasya43               1                1.020000                  1.02
Irilis75                  1                1.020000                  1.02
Aidai61                   1                1.010000                  1.01
Chanirra79                1                1.010000                  1.01
Alo38                     1                1.000000                  1.00

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [126]:
ItemsNameGrouped = df.groupby(["Item ID", "Item Name"])

In [128]:
#Purchase Count
Item_Count= ItemsNameGrouped["SN"].count()

In [129]:
#Item Price
Item_Price= ItemsNameGrouped["Price"].mean()

In [130]:
#Total Purchase Value
Item_Rev= ItemsNameGrouped["Price"].sum()

In [133]:
Items_df =pd.DataFrame({"Purchase Count":Item_Count,"Item Price":Item_Price,"Total Purchase Value":Item_Rev})

In [134]:
Items_df = Items_df.sort_values(["Purchase Count"],ascending=False)
Items_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77
...,...,...,...,...
42,The Decapitator,1,1.750000,1.75
51,Endbringer,1,4.660000,4.66
118,"Ghost Reaver, Longsword of Magic",1,2.170000,2.17
104,Gladiator's Glaive,1,1.930000,1.93
91,Celeste,1,4.170000,4.17

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [135]:
Items_Most_Rev_df = Items_df.sort_values(["Total Purchase Value"],ascending=False)
Items_Most_Rev_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80
...,...,...,...,...
28,"Flux, Destroyer of Due Diligence",2,1.060000,2.12
126,Exiled Mithril Longsword,1,2.000000,2.00
125,Whistling Mithril Warblade,2,1.000000,2.00
104,Gladiator's Glaive,1,1.930000,1.93
42,The Decapitator,1,1.750000,1.75